@use 'fonts';

/*Primary colors*/
$clr-green-500: hsl(158, 36%, 37%);
$clr-green-700: hsl(158, 42%, 18%);

/*Neutral colors*/
$clr-black: hsl(212, 21%, 14%);
$clr-grey: hsl(228, 12%, 48%);
$clr-cream: hsl(30, 38%, 92%);
$clr-white: white;

$fsz-s: 0.875rem;

$fw-primary: 500;
$fw-accent: 700;

$ff-primary: 'Monsterrat', sans-serif;
$ff-additional: 'Fraunces', serif;

$standard-width: 21rem;
$standard-padding: 1.5rem;
$standard-border-radius: 0.75rem;
$button-radius: 0.5rem;

/* CSS-reset */
*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    align-content: center;

    font-family: $ff-primary;
    font-size: $fsz-s;
    font-weight: $fw-primary;
    color: $clr-grey;
    letter-spacing: 0;
    
    background-color: $clr-cream;
}

img {
    display: block;
}

header {
    width: $standard-width;
    border: 1px solid red;
    margin-top: 1.5rem;
    border-radius: $standard-border-radius $standard-border-radius 0 0;
    overflow: hidden;
}

.header_illustration {
    width: 100%;
}

main {
    width: $standard-width;
    background: $clr-white;
    padding: $standard-padding;
    border-radius: 0 0 $standard-border-radius $standard-border-radius;
}

.add_to_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
    padding-block: 1rem;
    width: 100%;
    border-radius: $button-radius;
    border: none;
    
    font-weight: $fw-accent;
    color: $clr-white;
    background-color: $clr-green-500;

}